{% extends 'accounts/dashboard.html' %}

{% block content %}

    <h2>📌 История</h2>
{% for item in history_posts %}
    {% with post=item.post %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.content|truncatewords:30 }}</p>
            <p>❤️ {{ post.total_likes }} | 👁 {{ post.views }}</p>
        </div>
    {% endwith %}
{% empty %}
    <p>Ваша история просмотра пуста!</p>
{% endfor %}
{% endblock %}
